###############################################################################
### Visual Studio and Visual Studio Code directories
###############################################################################
.vs
.vscode

###############################################################################
### OS Specific
###############################################################################
.DS_Store
[Tt]humbs.db
